<% provide(:title, "LogIn")%>
<%if session[:user_id]%>
	<p><strong>You are already logged in!<strong></p>
<%else%>
	<p>Please login!</p>
	<%= form_for(:session,url: login_path) do |fr|%>
		<%=fr.label :username %><br/>
		<%= fr.text_field :username, class:'form-control'%><br/>
		<%=fr.label :password %><br/>
		<%=fr.password_field :password, class: 'form-control'%><br/>
		<%=fr.submit "Log IN"%>
	<%end%>
<%end%>
